@charset "UTF-8";

.toast:not(.showing):not(.show) {
    opacity: 0;
}

.toast {
    font-size: .875rem;
    pointer-events: auto;
}
.toast-header {
    display: flex;
    align-items: center;
    padding: .5rem .75rem;
    color: #6c757d;
    background-color: rgba(255,255,255,.85);
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0,0,0,.05);
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.toast-body {
    padding: .75rem;
    word-wrap: break-word;
}

.toast.hide {
    display: none;
}

.toast {
    width: 350px;
    max-width: 100%;
    font-size: .875rem;
    pointer-events: auto;
    background-color: rgba(255,255,255,.85);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border-radius: .25rem;
}

.toast-header .btn-close {
    margin-right: -.375rem;
    margin-left: .75rem;
}

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    cursor:pointer;
    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: .25rem;
    opacity: .5;
}
.small, small {
    font-size: .875em;
}
.rounded {
    border-radius: .25rem !important;
}
.me-auto {
    margin-right: auto !important;
}

.fade {
    transition: none;
}

/*
*, ::after, ::before {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
* {
    font-family: NanumGothic;
}
*/


.p-3 {
    padding: 1rem !important;
}
.end-0 {
    right: 0 !important;
}
.bottom-0 {
    bottom: 0 !important;
}
.position-fixed {
    position: fixed !important;
}







